@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import "customStyle.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-family: 'Ubuntu', sans-serif !important;
  background-color: #FAFAFA !important;
  margin: 0 auto;
  max-width: 1440px;
  > main {
    width: 100%;
  }
}

section {
  overflow: hidden;
}

button {
  &:hover {
    opacity: 0.7;
  }
}

html {
  scroll-behavior: smooth;
}