@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import "customStyle.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  border: 1px solid black;
  font-family: 'Ubuntu', sans-serif !important;
  background-color: #FAFAFA !important;
  margin: 0 auto;
  max-width: 1440px;
  > main {
    width: 100%;
  }
}

section {
  border: 1px solid black;
  overflow: hidden;
  /*2xl:overflow-visible overflow-x-visible*/
  @media (min-width: 1536px) {
    overflow: visible;
  }
}